@heading-color: dodgerblue;
.head{
  color: @heading-color;
  font-family: "Browallia New", sans-serif;
  text-align: center;
  .para{
    color: magenta;
    font-size: 20px;
    text-align: center;
  }
}