body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    background: url('../image/justice.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
